[
  {kernel, [
    {inet_default_connect_options, [{nodelay, true}]},
    {inet_default_listen_options,  [{nodelay, true}]}
  ]},
  {
    rabbit,
    [
      {tcp_listen_options, [
        {backlog,       4096},
        {nodelay,       true},
        {linger,        {true, 0}},
        {exit_on_close, false}
      ]},
      {loopback_users, []},
      {cluster_partition_handling, autoheal},
      {delegate_count, 64},
      {fhc_read_buffering, false},
      {fhc_write_buffering, false},
      {heartbeat, 60},
      {queue_index_embed_msgs_below, 0},
      {queue_index_max_journal_entries, 8192},
      {log_levels, [{autocluster, info},
                    {connection, error},
                    {channel, warning},
                    {federation, info},
                    {mirroring, info}]},
      {vm_memory_high_watermark, 0.8}
    ]
  }
].
